<?php

$_USER_MONGODB = "USER_MONGODB";
$_PASSWORD_MONGODB = "PASSWORD_MONGODB";
$_DOMAIN_MONGODB = "IP_MONGODB";
$_NAME_MONGODB = "NAME_DB_MONGODB";
$_DIR_MONGODB = "mongodb://".$_USER_MONGODB.":".$_PASSWORD_MONGODB."@".$_DOMAIN_MONGODB."/".$_NAME_MONGODB."?ssl=false";
$_COLLECTION_PROJECT = "project";



?>